*::before *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span,
blockquote,
img,
body,
main {
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 700px) {
  body {
    min-height: 100vh;
  }
  body .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 42rem;
    max-height: -moz-max-content;
    max-height: max-content;
    border-radius: 24px;
    box-shadow: 4px 2px 5px 2px hsla(254, 21%, 56%, 0.3);
    overflow: hidden;
  }
  body .card1 {
    grid-area: 1/1/1/1;
    padding: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  body .card1 .circle {
    padding-top: 24px;
    margin: 32px;
  }
  body .card1 .description {
    text-wrap: wrap;
  }
  body .card2 {
    grid-area: 1/2/2/2;
    justify-content: center;
  }
  body .card2 h2 {
    padding-top: 16px;
  }
  body .card2 .continue {
    padding: 16px;
    margin-bottom: 16px;
  }
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(234, 85%, 45%);
  text-align: center;
  color: white;
  padding: 1rem;
  line-height: 2.2rem;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.card1 .results {
  opacity: 0.7;
}
.card1 .description {
  font-size: 1.125rem;
  text-wrap: balance;
  line-height: 1.5rem;
  opacity: 0.6;
  padding-top: 24px;
  margin-bottom: 24px;
}
.card1 .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  border-radius: 50%;
  padding: 32px;
  margin: 24px;
  width: 5.5rem;
}
.card1 .circle .totalscore {
  font-weight: 800;
  font-size: 3.5rem;
  padding-bottom: 16px;
}
.card1 .circle .maxscore {
  font-size: 0.875rem;
  opacity: 0.7;
}

.card2 {
  background-color: hsl(0, 0%, 100%);
}
.card2 h2 {
  padding-left: 4px;
  margin: 24px;
}
.card2 .maxStats {
  color: gray;
}
.card2 .score {
  font-weight: 700;
}
.card2 .stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 24px;
  border-radius: 12px;
}
.card2 .lefthalf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card2 .lefthalf img {
  padding-right: 10px;
}
.card2 .Reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.card2 .Reaction p {
  color: hsl(0, 100%, 67%);
  font-weight: 800;
}
.card2 .Memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.card2 .Memory p {
  color: hsl(39, 100%, 56%);
  font-weight: 800;
}
.card2 .Verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.card2 .Verbal p {
  color: hsl(166, 100%, 37%);
  font-weight: 800;
}
.card2 .Visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.card2 .Visual p {
  color: hsl(234, 85%, 45%);
  font-weight: 800;
}
.card2 .continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card2 .continue a {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: hsl(234, 67%, 18%);
  padding: 1rem;
  border-radius: 24px;
  width: 80%;
}
.card2 .continue a:hover {
  cursor: pointer;
  background-color: hsl(234, 85%, 45%);
}/*# sourceMappingURL=style.css.map */